body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
Button:hover {
  opacity: 0.7 !important;
}
.flex-col {
  flex-direction: column !important;
}

.login {
  background: #002b80 !important;
  position: relative;
}
.login-btn {
  min-width: 100%;
  background: white !important;
  color: black !important;
  border: none !important;
}
.login-btn:hover {
  min-width: 100%;
  background: white !important;
  color: blue !important;
  border: 1px solid black !important;
}
.create-an-account {
  position: absolute;
  bottom: 20px;
}
.email, .password, .login-btn {
  min-height: 50px !important;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.blue, .signup {
  background: #002b80 !important;

}
.btn-outline {
  position: relative;
  border: none !important;
  background: white !important;
  color: black !important;
  min-height: 50px !important;
  border-bottom-left-radius: 30px !important;
  border-top-left-radius: 30px !important;
  border-top-right-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
}
.dashboard-icons {
  position: absolute;
  left: 40px;
}
.btn:hover {
  opacity: 0.9 !important;
}
.biller-wrapper {
  min-height: 90vh !important;
}
.bill-input {
  border: none !important;
  border-radius: none !important;
  min-height: 40px;
}
.bill-sm-input {
  border: none !important;
  border-radius: none !important;
  min-height: 25px;
}
.bill-btn {
  border: none !important;
  background: white;
  border-radius: 0 !important;
}
.rental {
  min-height: 85vh;
}
.cancel:hover {
  color: red;
  opacity: 1 !important;
}
.next:hover {
  color:green;
  opacity: 1 !important;
}
.submit:hover {
  background: green;
  color: white;
}
.front-btn:hover {
  color: white;
  background: blue !important;
}

.front-back-btn:hover {
  color: white;
  background: red !important;
}
.bill-reset-btn{
  border: none !important;
  background: white;
  border-radius: 0 !important;
}
.bill-reset-btn:hover {
  color: white;
  background: red !important;
}
.full-height {
  min-height: 95vh;
}
.logout, .logout-cursor {
  cursor: not-allowed;
}
.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.clientScreen {
  background: #E5E5E5 !important; 
}
.bill-sm-label {
  font-size: 90%;
}
.align-content-center {
  display: flex;
  align-content: center;
}

.clients-count, .advocates, .projects {
  min-height: 150px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-btn {
  font-size: 130%;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}
.delete-btn:hover {
  color: white !important;
  background: red !important;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}


.update-link:hover {
  color: white !important;
  background: blue !important;
  padding: 10px;
  margin: 5px; 
  border-radius: 5px;
}
.update-link {
  font-size: 130%;
  color: blue !important;
  padding: 10px;
  margin: 5px; 
  border-radius: 5px;
}
.forty-height {
  min-height: calc(100vh - 40vh);
}
.two-times {
  font-size: 140%;
}
.z-index-ten {
  z-index: 10;
}
.advanced-input-wrapper {
  background: white;
  border: none;
}
.bill-form-input {
  border: none !important;
  min-height: 30px !important;
  border-radius: none !important;
}
.rounded-mid {
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  border-top-right-radius: 20px !important;
  border-top-left-radius: 20px !important;
}
.rounded-mid:hover {
  color: blue;
  opacity: 0.9;
}
.nav-icon {
  font-size: 120%;
}
.cursor-pointer {
  cursor: pointer;
}
.circle {
  border-radius: 50%;
}
.user-icon-wrapper {
  height: 35px;
  width: 35px;
  background: black;
}
.create-client {
  border-bottom-left-radius: 11px !important;
  border-bottom-right-radius: 11px !important;
  border-top-right-radius: 11px !important;
  border-top-left-radius: 11px !important;
}
